<html>
<head>
<title>Donation Receipt</title>
<style>
.mad-logo
{
  display: inline;
  width: 280px;
  height: 150px;
  margin:20px 40px;
}
.mad-logo-right
{
  float: right;
  width: 205px;
  height: 150px;
}
.sign-image
{
  width: 105px;
  height:120px;
  margin:20px 0px 10px;
}
.receipt-wrapper
{
  width: 960px;
  margin:0 auto;
  height: auto;
}
hr
{
  color:e4e3e3;
  margin:80px 0 30px 0;
}
.receipt-no-placeholder
{
  color: #ed174a;
}
.receipt-main-content
{
  padding: 30px 40px 20px;
  font-size: 20px;
  font-family: arial;
  color:#484747;
}
.donation-receipt-header
{
  font-weight:bold;
  text-align:center;
}
.receipt-placeholder
{
  color: #ed174a;
}
p.sign-name
{
margin:10px 0px;
}
.eighty-g-note
{
  margin: 30px 0 0;
  padding-left: 0px;
}
.eighty-g-note li
{
  list-style-type: none;
  display:inline-block;
}
.receipt-footer
{
  background-color: #ed174a;
  height:auto;
  padding: 20px 40px;
  font-family: arial;
  color: #ffffff;
  font-size:20px;
}
.bold-text
{
  font-weight:bold;
}
.address
{
  text-align: center;
  line-height: 24px;
}
.additional-info
{
  margin: 10px 30px 0;
}
.additional-info span
{
  margin-right: 174px;
}
.additional-info span:last-child
{
  margin-right:0px;
}
</style>
</head>
<body>
<div class="receipt-wrapper">
<div class="receipt-header">
  <div class="mad-logo">
    <!-- <img src="mad-letterhead-logo.png"/> -->
    <%= wicked_pdf_image_tag 'mad-letterhead-logo.png' %>
  </div>
  <div class="mad-logo-right">
    <!-- <img src="mad-letterhead-right.png"/> -->
    <%= wicked_pdf_image_tag 'mad-letterhead-right.png' %>
  </div>
</div>
<div class="receipt-main-content">
  <div class="receipt-primary-details">
    <div class="receipt-no-container">
      Receipt No :
      <span class="receipt-no-placeholder">
        2015-16/<%= session[:don_id] %>
      </span>
    </div>
    <div class="receipt-date-container">
      Date :
      <span class="receipt-no-placeholder">
        <% _current_time = Time.new  %>
        <%= _current_time.day %>/<%= _current_time.mon %>/<%= _current_time.year %>
      </span>
    </div>
  </div>
  <div class="donation-receipt-header">
  DONATION RECEIPT
  </div>
  <p>
  Received with thanks from<span class="receipt-placeholder"> <%= session[:donor_name] %></span> as donation, for the sum of Rs <span class="receipt-placeholder"><%= session[:donation_amount] %> (<%= session[:donation_amount_text] %>)</span>
  on behalf of Make A Difference on <span class="receipt-placeholder"><%= session[:created_at] %></span> vide Transaction No: <span class="receipt-placeholder"><%= session[:don_id] %></span>
  <div class="donor-address">Address: <span class="receipt-placeholder"></span></div>
  </p>
  
  <div class="sign-image">
    <!-- <img src="signature.png"/> -->
    <%= wicked_pdf_image_tag 'signature.png' %>
  </div>
  <p class="sign-name">Jithin C Nedumala,</p>
  <div class="receipt-placeholder">For Make A Difference</div>
  <ul class="eighty-g-note">
    <li>Donations are exempt under Section 80G of the IT Act 1961 vide order:</li>
    <li>No. CIT/CHN/Tech/80G-35/2011-11</li>
    <li>Make A Difference PAN No: AAABM0639H</li>
  </ul>
  </div>
  <div class="receipt-footer">
    <div class="address">
        <div>Address:</div>
        <div>Make A Difference, #16-C, MCHS Colony, 1st B Main, 14th C Cross,</div>
        <div>Sector 6, HSR Layout, Bangalore-560102.</div>
    </div>
    <div class="additional-info"><span>info@makeadiff.in
    </span><span>www.makeadiff.in</span></div>
  </div>
</div>
</body>
</html>